main {
    .quienes-somos {
        padding: 30px;
        position: relative;    
        h2 {
           @include senesa-font(900,25);
           padding: 20px 5px;
           text-align: left;
           &::before {
            content: ' ';
            width: 7px;
            height: 20px;
            background: #E7A62F;
            display: inline-block;
            margin-right: 5px;
            }
        }
        p {
            @include senesa-font(600,15);   
        }
        @include respond-to(medium) {
            width: 350px;
            height: auto;
            position: absolute;
            background: rgba(255,255,255, .8);
            margin-top: -85%;
            margin-left: 10%;
            overflow: hidden;
        }
        @include respond-to(normal) {
            width: 400px;
            height: auto;
            position: absolute;
            background: rgba(255,255,255, .8);
            margin-left: 10%;
            overflow: hidden;
        }
        @include respond-to(large) {
            width: 450px;
            height: auto;
            position: absolute;
            background: rgba(255,255,255, .8);
            margin-left: 10%;
            overflow: hidden;
        }
    }
    
    .btn-inicio {
        position: absolute;
        left: 50%;
        transform: translateX(-83px);
        z-index: 30;
        margin-top: -10px;
        padding: 8px 25px;
        @include senesa-font(600,18);
    }
}