@import 'variables';
@import 'mixins';
@import 'mediaQueries';

body{
    margin: 0;
    @include senesa-font();
    .ovalo-bottom {
        position: absolute;
        width: 100%;
        height: auto;
        bottom: 0;
    }
}

@import 'variables';
@import 'header';
@import 'main';
@import 'quienesSomos';
@import 'contacto';
@import 'productos';
@import 'filtrarPorMarca';
@import 'pedidos';
@import 'footer';
